body {
	background: rgb(67,67,67) ;
    background: linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 130%);
	margin: 0;
}
.gradients {
	position: absolute;
	width: 100%;
	mix-blend-mode: overlay;
}
.navbar {
	background: none;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.navbar-logo-button {
	position: relative;
	border: 0;
	padding-left: 64px;
	mix-blend-mode: screen;
	background-color: #000000;
	transition-duration: 0.35s;
}
.navbar-logo {
	width: 207px;
	height: 85px;
}
.navbar-logo-button:hover {
	transform: scale(105%);
	transform-style: ease-in;
	transition-duration: 0.35s;
}
.navbar-button {
	position: relative;
	width: 110px;
	height: 27px;
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro', monospace;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
	background: none;
	border: 0;
	transition-duration: 0.35s;
}
.navbar-button:hover {
	transform: scale(115%);
	transition-duration: 0.35s;
}
.navbar-icons-container {
	display: flex;
	flex-direction: row;
	padding-right: 64px;
}
.navbar-icons-button {
	position: relative;
	mix-blend-mode: screen;
	background-color: #000000;
	transition-duration: 0.35s;
}
.navbar-icons-button:hover {
	transform: scale(110%);
	transition-duration: 0.35s;
}
.navbar-icons {
	position: relative;
	width: 40px;
	height: 40px;
	padding-left: 10px;
}
.header {
	overflow: hidden;
}
.bg-ivan {
	position: relative;
    overflow: hidden;
}
.bg-ivan:before {
	position: absolute;
	display: block;
	background-size: contain;
	top: 10%;
	left: 0;
	width: 65%;
	padding-left: 50%;
	z-index : 1;
}
.description-header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;
	padding-left: 65px;
	width: 50%;
	z-index: 2;
}
h4 {
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro', monospace;
	font-size: 40;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
.sign-up-container {
	display: block;
	align-items: center;
}
.log-in-button {
	background: none;
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro';
	font-size: 32;
	border: 0;
	transition-duration: 0.35s;
}
.log-in-button:hover {
	transform: scale(110%);
	transition-duration: 0.35s;
}
.sign-up-button {
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro';
	font-size: 32;
	border: 0;
	background-color: #434343;
	width: 110px;
	height: 27px;
	border-radius: 15%;
	transition-duration: 0.35s;
}
.sign-up-button:hover {
	transform: scale(110%);
	transition-duration: 0.35s;
}