body {
	background: rgb(67,67,67) ;
    background: linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 130%);
	margin: 0;
}
.gradients {
	position: absolute;
	width: 100%;
	mix-blend-mode: overlay;
}
.navbar {
	background: none;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.navbar-logo-button {
	position: relative;
	border: 0;
	padding-left: 64px;
	mix-blend-mode: screen;
	background-color: #000000;
	transition-duration: 0.35s;
}
.navbar-logo {
	width: 207px;
	height: 85px;
}
.navbar-logo-button:hover {
	transform: scale(105%);
	transform-style: ease-in;
	transition-duration: 0.35s;
}
.navbar-button {
	position: relative;
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background: none;
	border: 0;
	transition-duration: 0.35s;
}
.navbar-button:hover {
	transform: scale(115%);
	transition-duration: 0.35s;
}
.navbar-icons-container {
	display: flex;
	flex-direction: row;
	padding-right: 64px;
}
.navbar-icons-button {
	position: relative;
	mix-blend-mode: screen;
	background-color: #000000;
	transition-duration: 0.35s;
}
.navbar-icons-button:hover {
	transform: scale(110%);
	transition-duration: 0.35s;
}
.navbar-icons {
	position: relative;
	width: 40px;
	height: 40px;
	padding-left: 10px;
}
.contents {
	position: relative;
	overflow: clip;
}
.bg-ivan {
	position: absolute;
	display: inline-block;
	object-fit: cover;
	width: 65%;
	padding-left: 50%;
	z-index : 1;
}
.description-header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15%;
	padding-left: 65px;
	width: 50%;
	z-index: 2;
}
h4 {
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
.sign-up-container {
	display: block;
	align-items: center;
}
.log-in-button {
	background: none;
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro';
	font-size: 1.25em;
	font-weight: 200;
	font-style: normal;
	border: 0;
	transition-duration: 0.35s;
}
.log-in-button:hover {
	transform: scale(110%);
	transition-duration: 0.35s;
}
.sign-up-button {
	color: rgb(255, 255, 255);
	font-family: 'Anonymous Pro';
	font-size: 1.25rem;
	font-weight: 200;
	font-style: normal;
	border: 0;
	background-color: #434343;
	width: 130px;
	height: 30px;
	border-radius: 15%;
	transition-duration: 0.35s;
}
.sign-up-button:hover {
	transform: scale(110%);
	transition-duration: 0.35s;
}
.cases-container {
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
}
h1 {
	position: absolute;
	background:  -webkit-linear-gradient(#fac2ea, #a6c1ee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Rubik', sans-serif;
	font-size: 6em;
	font-weight: 900;
	z-index: 2;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 4em;
}
.svg-shape-cases {
	padding-top: 12em;
	margin-top: 0;
	position: relative;
	z-index: 1;	
}
h2 {
	position: relative;
	background:  -webkit-linear-gradient(#fac2ea, #a6c1ee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Rubik Glitch', sans-serif;
	font-size: 6em;
	text-align: center;
	font-weight: 400;
}
.shop-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.shop-card {
	background: #fac2ea;
	width: 20rem;
	height: 30rem;
}
.reviews-container {
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding-top: 40em;
}
.svg-shape-reviews {
	padding-top: 12em;
	margin-top: 18.5em;
	position: relative;
	z-index: 1;	
	transform: rotateY(180deg) rotateX(180deg);
}